[data-component='Dialer'] {
	background-color: #eee;

	+desktop() {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 10px;
	}

	+mobile() {
		padding: 20px;
	}

	> .userchip-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		+desktop() {
			flex: 0 10 auto;
			max-width: 40%;
			margin-right: 10px;
		}
	}

	> form.uri-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		+desktop() {
			flex: 0 10 auto;
			max-width: 40%;
			margin-left: 10px;
		}

		+mobile() {
			margin-top: 20px;
		}

		&.hidden {
			display: none;
		}

		> .uri-container {
			flex: 10 10 auto;
			margin-right: 20px;

			+desktop() {
				min-width: 300px;
				max-width: 400px;
			}
		}
	}
}
