[data-component='Dialer'] {
	background-color: #eee;

	+desktop() {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 10px;
	}

	+mobile() {
		padding: 20px;
	}

	> .status-bar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		+mobile() {
			margin-bottom: 20px;
		}

		.chip {
			flex: 0 0 auto;
			width: 100% !important;

			.status {
				flex: 0 0 auto;

				&.disconnected {
					background-color: #ccc !important;
				}

				&.connecting {
					background-color: #d4d01c !important;
					animation: status-connecting 1s infinite ease-in;
				}

				&.connected {
					background-color: #d4d01c !important ;
				}

				&.registered {
					background-color: #47d41c !important;
				}
			}

			> span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				.uri {
					color: #999;
				}
			}
		}
	}

	> form.uri-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		> .uri-container {
			flex: 100 0 auto;
			margin-right: 20px;

			+desktop() {
				min-width: 300px;
				max-width: 400px;
			}
		}
	}
}

@keyframes status-connecting {
	50% {
		opacity: 0.25;
	}
}
