[data-component='Incoming'] {
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.25);
	padding: 50px 10px;

	TransitionAppear(1s);

	> .buttons {
		margin-top: 40px;

		> div {
			width: 120px !important;
		}

		> div:first-child {
			margin-right: 10px;
		}

		> div:last-child {
			margin-left: 10px;
		}
	}
}
