[data-component='Login'] {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	TransitionAppear();

	> .logo-container {
		margin: 20px auto;
	}

	> form {
		position: relative;
		flex: 0 0 auto;
		min-height: 200px;
		width: 300px;
		margin: 50px auto;
		background-color: rgba(#fff, 0.9);
		border-radius: 4px;
		box-shadow: 0px 0px 15px 0px rgba(#000, 0.9);
		padding: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		> .settings-icon-container {
			position: absolute;
			right: 10px;
			top: 10px;

			> .icon {
				&:hover {
					color: #111;
					cursor: pointer;
				}
			}
		}
	}

	> .submit-container {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px auto;

		+desktop() {
			width: 80px;
			height: 80px;
		}

		+mobile() {
			width: 60px;
			height: 60px;
		}

		> .submit-button {
			width: 100%;
			height: 100%;
			background-image: url('/resources/images/submit-button.svg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-size: 100%;
			cursor: pointer;
			transition-property: opacity transform;
			transition-duration: 0.5s;

			&.disabled {
				opacity: 0.25;
				pointer-events: none;
			}

			&:hover {
				opacity: 0.9;
				transform: rotateZ(360deg);
				transform: scale(1.2);
			}
		}
	}

	> .settings-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;

		+desktop() {
			margin: 50px auto;
			max-width: 500px;
			min-width: 400px;
		}
	}
}
