[data-component='Logo'] {
	&.big {
		font-size: 4rem;
	}

	&.small {
		font-size: 2rem;
	}

	> h1 {
		font-family: 'Poiret One';
		font-weight: bold;
		user-select: none;
		color: rgba(#fff, 0.85);

		span.colorized {
			color: rgba($colorBlue, 0.85);
		}

		span.small {
			font-size: 0.75em;
		}
	}
}
