[data-component='PlayerView'] {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: default;
	will-change: opacity;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.25;

	TransitionAppear(500ms, 0, 0.25);

	&.focused:not(.transition-appear) {
		opacity: 1;
	}

	> .video-wrapper {
		height: 100%;
		width: 100%;
		overflow: hidden;
		transition-property: opacity;
		transition-duration: 1.25s;

		&.hidden {
			z-index: -1;
			opacity: 0;
		}

		> video {
			height: 100%;
			width: 100%;
			object-fit: cover;

			&.isMe {
				transform: scaleX(-1);
			}
		}
	}

	> .bar {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		background: linear-gradient(to right, rgba(#000,0.95) 0%, rgba(#000,0) 95%);
		font-weight: 300;

		+desktop() {
			padding: 4px 12px;
		}

		+mobile() {
			padding: 2px 8px;
		}

		> .info {
			flex: 100 100 auto;
			overflow: hidden;

			> p.name {
				font-size: 1rem;
				color: rgba(#fff, 1);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

				+desktop() {
					height: 22px;
					line-height: 22px;
				}

				+mobile() {
					height: 18px;
					line-height: 18px;
				}
			}

			> .location {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				color: rgba(#fff, 0.85);

				+desktop() {
					height: 22px;
					line-height: 22px;
				}

				+mobile() {
					height: 18px;
					line-height: 18px;
				}

				> img {
					flex: 0 0 auto;

					+desktop() {
						margin-right: 6px;
					}

					+mobile() {
						margin-right: 2px;
					}
				}

				> p {
					font-size: 0.75rem;
					line-height: 1rem;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}

		> .actions {
			align-self: center;
			flex: 0 0 auto;
			margin-left: 10px;

			> .like {
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url('/resources/images/like-empty.svg');
				cursor: pointer;

				&:not(.clickable) {
					pointer-events: none;
				}

				&:hover:not(.local):not(.full) {
					animation: PlayerView-like-heartbeat-effect .75s infinite ease-in;
				}

				&.local {
					background-image: url('/resources/images/like-left.svg'), url('/resources/images/like-empty.svg');
					background-position: left, center;
				}

				&.remote {
					background-image: url('/resources/images/like-right.svg'), url('/resources/images/like-empty.svg');
					background-position: right, center;
				}

				&.full {
					background-image: url('/resources/images/like-full.svg');
					animation: PlayerView-like-heartbeat-effect .75s infinite ease-in;
				}

				+desktop() {
					width: 32px;
					height: 32px;
				}

				+mobile() {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	> .audio-on {
		position: absolute;
		z-index: 10;
		border-radius: 100%;
		background-position: center;
		background-size: 60%;
		background-repeat: no-repeat;
		background-image: url('/resources/images/audio-on.svg');
		background-color: rgba($colorRed, 0.75);
		animation: PlayerView-audio-on-effect .75s infinite linear;

		+desktop() {
			top: 15px;
			left: 15px;
			width: 50px;
			height: 50px;
		}

		+mobile() {
			top: 10px;
			left: 10px;
			width: 25px;
			height: 25px;
		}
	}

	// Workaround for https://bitbucket.org/ibc_aliax/firstsight/issues/1/video-overlay-issue-in-chrome
	&.no-overlay {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		> .video-wrapper {
			flex: 100 100 auto;
		}

		> .bar {
			position: static;
			flex: 0 0 auto;
			background: rgba(#000, 0.95);
		}
	}
}

@keyframes PlayerView-like-heartbeat-effect {
	70% {
		transform: scale(1.2);
	}
	71% {
		transform: scale(0.85);
	}
}

@keyframes PlayerView-audio-on-effect {
	50% {
		background-color: transparent;
	}
}
